body{
    margin: 0 auto;
}

.layout {
    display: flex;
    flex-direction: column;
}

.header {
    height: 50px;
    background-color: red;
}

@media only screen and (max-width: 600px) {
    .header {
        background-color: black;
    }
}

ul {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    margin: 1em;
}

.cover {
    height: 350px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover_images {
    height: 250px;
    width: 400px;
}

.project_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 1%;
    grid-gap: 1%;
}

.project_grid_align {
    display: flex;
    justify-content: center;
}

.project_bg {
    background-color: darkgrey;
    border-radius: 50px;
}

.project_images {
    height: 200px;
    width: 150px;
    margin: 20px;
}

@media only screen and (max-width: 1070px) {
    .project_images {
        height: 75px;
        width: 75px;
        margin: 10px;
    }

    .project_grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        padding: 1%;
        grid-gap: 1%;
    }
}

@media only screen and (max-width: 600px) {
    .project_images {
        height: 50px;
        width: 50px;
        margin: 10px;
    }

    .project_grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        padding: 1%;
        grid-gap: 1%;
    }
}

.footer {
    height: 65px;
    background-color: red;
}

.footer_text {
    color: black;
    font-size:1em;
}