body{
    margin: 0 auto;
}

.layout {
    display: flex;
    flex-direction: column;
}

.header {
    height: 50px;
    background-color: red;
}

ul {
    display: flex;
    margin: 0;
    padding: 17px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    margin: 1em;
}

.cover {
    height: 60vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.project_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 2px;
    grid-gap: 2px;
    background-color: grey;
}

.project_grid_align {
    display: flex;
    justify-content: center;
    padding: 10px;
    /*margin: 20px;*/
}

.project_grid_align > img {
    /*width: 100%;*/
    width: 80px;
    height: 60px;
}

.project_bg {
    background-color: darkgrey;
    border-radius: 50px;
}

.footer {
    height: 65px;
    background-color: red;
}

.footer_text {
    color: black;
    font-size:1em;
}